@model ForecastRequestDTO;

@{
    ViewData["Title"] = "Weather Forecast";
}
<div>
    <h1 class="display-2 text-center">Weather forecasts for any city!</h1>
    <br />
    <div style="width: 75%; margin:auto">
        <form asp-action="Forecast">
            <div class="text-start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div>
                <h1 class="display-6">Location details</h1>
                <div class="form-group">
                    <input asp-for="City" type="text" class="form-control" placeholder="City" required />
                    <small class="form-text text-muted">
                        The name of the city.
                    </small>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col form-group">
                        <input asp-for="State" type="text" class="form-control" placeholder="State" />
                        <small class="form-text text-muted">
                            The state or region of the city.
                        </small>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="col form-group">
                        <input asp-for="CountryCode" type="text" class="form-control" placeholder="Country code" />
                        <small class="form-text text-muted">
                            The countrys unique 2-digit code.
                        </small>
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <h1 class="display-6">Other details</h1>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="UnitType" class="form-label"></label>
                    <select asp-for="UnitType" class="form-control">
                        <option>Metric</option>
                        <option>Imperial</option>
                        <option>US Standard</option>
                    </select>
                    <span asp-validation-for="UnitType" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group col">
                    <label asp-for="DayCount" class="form-label"></label>
                    <select asp-for="DayCount" class="form-control">
                        <option value="7">A week ahead</option>
                        <option value="6">6 days ahead</option>
                        <option value="5">5 days ahead</option>
                        <option value="4">4 days ahead</option>
                        <option value="3">3 days ahead</option>
                        <option value="2">2 days ahead</option>
                        <option value="1">1 day ahead</option>
                        <option value="0">Only today</option>
                    </select>
                    <span asp-validation-for="DayCount" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                @*<input type="submit" value="See weather forecast" class="btn btn-primary btn-lg col-md-12" />*@
                <button type="submit" class="btn btn-primary btn-lg col-md-12" onclick="displayButtonSpinner()">See weather forecast
                    <span id="buttonSpinner" class="spinner-border spinner-border-sm" style="display:none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        
        @*<partial name="_LoadingPartial" />*@

    </div>
</div>