@model ForecastRequestVM;

@{
    ViewData["Title"] = "Weather Forecast";
}
<div class="text-center">
    <h1 class="display-2">Enter details here</h1>
    <br />
    <div style="width: 50%; margin:auto">
        <form asp-action="Forecast">
            <div class="text-start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label><label style="color: red">*</label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="StateCode" class="control-label"></label>
                <input asp-for="StateCode" class="form-control" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="See weather forecast" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>